.projects {
  background-color: var(--bg-dark);
  color: var(--font-light);
  padding: 50px 95px;
  h2 {
    color: var(--font-bg-green);
    font-family: 'Fira Code';
    font-size: 4rem;
  }
  h3 {
    color: var(--font-bg-green);
    font-family: 'Karla';
    font-size: 1.5rem;
    padding-bottom: 24px;
  }
  > p {
    font-family: 'Karla';
    font-size: 1.1rem;
    line-height: 120%;
    padding: 40px 0px;
  }
}

.project-list-btn {
  cursor: pointer;
  border-top: 1px solid var(--font-bg-green);
  border-bottom: 1px solid var(--font-bg-green);
  border-left: none;
  border-right: none;
  background: transparent;
  display: flex;
  width: 70%;
  justify-content: space-between;
  align-items: center;
  padding: 40px 32px;
  transition: 0.5s ease;
  img {
    display: none;
  }
}

.hover-img {
  position: absolute;
  right: -5%;
  top: 50%;
  transform: translateY(-50%);
  width: 300px;
  height: 200px;
  border-radius: 10px;
  z-index: 1;
  display: none;
  pointer-events: none;
}

.bg-hover-img {
  position: absolute;
  right: -8%;
  top: 50%;
  transform: translateY(-35%);
  z-index: 0;
  display: none;
  pointer-events: none;
}

.project-btn-wrapper {
  position: relative;
  width: 100%;
  overflow: visible;

  &:hover {
    .project-list-btn {
      background-color: var(--transparent);

      img {
        display: block;
      }
    }

    .hover-img,
    .bg-hover-img {
      display: block;
    }
  }
}

.project-list-skills {
  display: flex;
  gap: 4px;
  p {
    font-family: 'Karla';
    color: var(--font-light);
  }
}

.project-name {
  display: flex;
  align-items: center;
  gap: 8px;
  img {
    transform: rotate(-45deg);
    height: 28px;
  }
  p {
    font-size: 1.5rem;
    font-weight: bold;
    color: white;
    font-family: 'Fira Code';
  }
}

@media screen and (min-width: 1440px) {
  .projects {
    padding: 100px max(200px, calc(50% - 720px));
  }
}

@media screen and (max-width: 860px) {
  .projects {
    padding: 50px 50px;
    h2 {
      font-size: 3rem;
    }
  }

  .project-list-btn {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: flex-start;
    gap: 1rem;
    padding: 20px 0px;
  }
  .project-btn-wrapper {
    &:hover {
      .project-list-btn {
        img {
          display: none;
        }
      }
      .hover-img,
      .bg-hover-img {
        display: none;
      }
    }
  }
}

@media screen and (max-width: 450px){
.projects {
    padding: 50px 16px;
  }
}
