<section class="references">
  <h3>What my colleagues say about me</h3>
  <img src="/assets/icons/pages/Quotes.png" alt="">

  <div class="slider-viewport">
    <div class="slider-container">
      @for (item of refer; track item.name; let i = $index) {
        @let offset = getOffset(i);
        
        <article 
          class="references-text" 
          [class.active]="offset === 0"
          [style.--offset]="offset">
          <p>{{ item.text }}</p>
          <div class="references-author">
            <div class="line"></div>
            <p>{{ item.name }}</p>
          </div>
        </article>
      }
    </div>
  </div>

  <section class="references-button-wrapper">
    <button class="button-left button-img" (click)="prev()">
      <img src="/assets/icons/pages/Arrow 1.png" alt="Vorheriges">
    </button>

    <div class="dots-container">
      @for (item of refer; track $index; let i = $index) {
        <span 
          class="dot" 
          [class.active]="i === currentIndex"
          (click)="goTo(i)">
        </span>
      }
    </div>

    <button class="button-right button-img" (click)="next()">
      <img src="/assets/icons/pages/Arrow 1.png" alt="Nächstes">
    </button>
  </section>
</section>