.contact {
  width: 100%;
  display: flex;
  justify-content: center;
  background-color: var(--bg-dark);
  padding: 50px 95px;
  gap: 40px;
  h2 {
    font-family: 'Fira Code';
    color: var(--font-bg-green);
    font-size: 4rem;
    letter-spacing: -3%;
    font-weight: bold;
    line-height: 100%;
  }
  h3 {
    font-family: 'Karla';
    color: var(--font-bg-green);
    font-size: 1.5rem;
  }
  h4 {
    font-family: 'Fira Code';
    color: var(--font-bg-green);
    font-size: 1.5rem;
  }
  p {
    font-family: 'Karla';
    color: var(--font-light);
    font-size: 1rem;
  }
  span {
    font-weight: bold;
  }
}

.contact-text {
width: 560px;
  display: flex;
  flex-direction: column;
  gap: 40px;
}

