@use '../../../../styles/mixins' as mixins;

.skills {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--font-light);
  font-family: 'Karla';
  background-color: var(--bg-dark);
  background-image: url(/assets/img/bg-skill.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  gap: 50px;
  padding: 50px 95px;
}

.skills-text {
  width: 520px;
  
  h3 {
    color: var(--font-bg-green);
    font-size: 1.5rem;
    padding-bottom: 1.5rem;
  }
}

.skills-text-box {
    height: 500px;
  background-color: var(--bg-green-light);
  border: 1px solid var(--font-bg-green);
  border-radius: 30px;
  padding: 32px;
  h2 {
    color: var(--font-bg-green);
    font-family: 'Fira Code';
    font-size: 4rem;
    font-weight: bold;
  }
  p {
    font-size: 1.1rem;
    line-height: 120%;
    padding-bottom: 1.5rem;
  }
}
// Button aus Hero
.animated-btn {
  color: var(--font-light);
  font-family: 'Karla';
  font-size: 1.1rem;
  border-radius: 100px;
  border: 1px solid var(--font-light);
  background: transparent;
  padding: 12px 24px;

  position: relative;
  overflow: hidden;
  cursor: pointer;
  transition:
    color 0.5s ease,
    border-color 0.5s ease;
}

.btn-text {
  --text-gap: 8rem;

  position: relative;
  display: inline-block;
  white-space: nowrap;
  will-change: transform;
}

.btn-text::after {
  content: attr(data-text);
  position: absolute;
  top: 0;
  left: calc(100% + var(--text-gap));
}

.animated-btn:hover .btn-text {
  animation: smooth-loop 3s linear infinite;
}

.animated-btn:hover {
  border: 1px solid var(--font-bg-green);
  color: var(--font-bg-green);
}

@keyframes smooth-loop {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(calc(-100% - var(--text-gap)));
  }
}

.skills-icons {
// border: 1px solid red;
  width: 500px;
  height: 500px;
  display: flex;
  flex-wrap: wrap;
  gap: 40px;
  padding: 40px;
  
  article {
    width: 100px;
    height: 120px;
    @include mixins.flex-center;
    flex-direction: column;
    text-align: center;
    gap: 8px;
    img {
      transition: all 0.2s ease-in-out;
      &:hover {
        transform: scale(1.1);
      }
    }
  }
}

@media screen and (min-width: 1440px) {
    .skills {
    padding: 100px max(200px, calc(50% - 720px));
  }
  
}
