@mixin flex-center{
    display: flex;
    justify-content: center;
    align-items: center;
}

@mixin button-img{
    padding: 0;
    border: none;
    background: none;
    line-height: 0;
    cursor: pointer;
    overflow: hidden;
}