:root {
    --font-light: rgba(217, 217, 217, 1);
    --font-bg-green: rgba(61, 207, 182, 1);
    --bg-dark: rgb(28, 28, 28);
    --bg-green-light: rgba(61, 207, 182, 0.1);
    --transparent: rgba(61, 207, 182, 0.2);

}