<dialog #dialog (cancel)="onCancel()">
  <div class="dialog-header">
    
    <button type="button" class="close-icon" (click)="close(false)">&times;</button>
  </div>

  <div class="dialog-body">
    @if (projectList; as currentProject) {
    <section class="project-info">
      <h2>{{currentProject.number}}</h2>
      <h1>{{ currentProject.name }}</h1>
      <h3>What is this Project about?</h3>
      <p>{{ currentProject.about }}</p>
      <div>
        @for (skill of currentProject.skills; track $index) {
        <div>
          <img [src]="skill.src" [alt]="skill.name">
          <p>{{ skill.name }}</p>
        </div>
        }
      </div>
    </section>
    <section>
      <img [src]="currentProject.src" [alt]="currentProject.name">
      <button>Next Project <img src="" alt=""></button>
    </section>
    }
  </div>

  <div class="dialog-actions">
    <button type="button" class="btn btn-secondary" (click)="close(false)">Github</button>
    <button type="button" class="btn btn-primary" (click)="close(true)">LiveTest</button>
  </div>
</dialog>