.hero-frame {
	background-image: url('/assets/img/bg_image.svg');
	background-color: var(--bg-dark);
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

.page-section {
	scroll-margin-top: 24px;
}
