@use './styles/_fonts';
@use './styles/_variables';
@use './styles/_mixins.scss';
@use './styles/_components.scss';

* {
    margin: 0px;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body {
    background-color: var(--bg-dark);
}

.color-green{
    color: var(--font-bg-green);
}

.d-none{
    display: none;
}




