@use './styles/fonts';
@use './styles/variables';
@use './styles/mixins.scss';

* {
    margin: 0px;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body {
    background-color: var(--bg-dark);
}

.color-green{
    color: var(--font-bg-green);
}

.d-none{
    display: none;
}

.button-img{
    padding: 0;
    border: none;
    background: none;
    line-height: 0;
    cursor: pointer;
    overflow: hidden;
}

body::-webkit-scrollbar {
    width: 10px;
}

body::-webkit-scrollbar-track {
    background: var(--bg-dark);
    // border-radius: 2px;
}

body::-webkit-scrollbar-thumb {
    background: var(--bg-green-light);
    border-radius: 5px;
    border: 1px solid var(--font-bg-green);
}
