@use './styles/_fonts';
@use './styles/_variables';
@use './styles/_mixins.scss';
@use './styles/_components.scss';

* {
    margin: 0px;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

html,
body {
    overflow-x: hidden;
    overflow-y: auto;
}

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    background-color: var(--bg-dark);
}

app-footer {
    margin-top: auto;
}

.color-green{
    color: var(--font-bg-green);
}

.d-none{
    display: none;
}




